<h1><%= posts_comments(@post) ? 'Edit Comment' : 'Create comment' %></h1>
<hr />
<%= form_for @comment do |i| %>
  <%= i.label :message %>
  <%= i.text_field :message, require: true, autofocus: true %>
  <%= i.submit %>
<% end %>